viminfo
dictionary.txt
.netrwhist
tags
tags-*
*.pyc
descript.ion
.DS_Store
.com.apple.*
*.sw[po]
xell_test.vim
vim73/*
vim73\*
vimfiles/bundle/easycolour/easycolour_cache.txt
vimfiles\bundle\easycolour\easycolour_cache.txt
